.student {
  margin: 20px 50px 20px 60px;
  position: relative;
}

.teacher {
  margin: 20px 30px 20px 70px;
  position: relative;
}

.student .comment {
  background: white;
  border-radius: 20px;
  padding: 10px;
  margin-right: auto;
  display: inline-block;
}

.teacher .comment {
  background: #00FF00;
  border-radius: 20px;
  padding: 10px;
/*   margin-right: auto; */
  display: inline-block;
  right: 0px;
}

.student .comment::after {
  content: "";
  position: absolute;
  left: -3px;
  top: 25px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: white;
  border-width: 0px 5px 15px 3px;
  
  transform: rotate(-60deg);
  display: block;
}

.teacher .comment::after {
  content: "";
  position: absolute;
  right: -3px;
  top: 25px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #00FF00;
  border-width: 0px 5px 15px 3px;
  
  transform: rotate(60deg);
  display: block;
}

.main {
  padding: 5px 40px 5px 5px;
  background: #88AAFF;
}

.header {
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #88AAFF;
}

.student .icon {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  
  top: 0px;
  left: -50px;
  position: absolute;
}

.teacher .icon {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  
  top: 0px;
  right: -50px;
  position: absolute;
}

.icon::before {
  content: "";
  background-color: gray;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  
  top: 4px;
  left: 10px;
  position: absolute;
}

.icon::after {
  content: "";
  background: gray;
  width: 30px;
  height: 20px;
  border-radius: 15px 15px 15px 15px / 12px 12px 8px 8px;
  
  top: 20px;
  left: 5px;
  position: absolute;
}

.teacher .content{
  position: relative;
  display: inline-block;
}

.student .name{
  font-family:　sans-serif;
  margin-bottom: 5px;
}

.teacher .name{
  font-family:　sans-serif;
  margin-bottom: 5px;
  display: inline-block;
  left: 10px;
}

.wrapper{
  text-align: right;
}
